#masterLayout{

}

#menuPane{

}
#navPane{
    float: left;
    width: 20%;
    /*height: 500px;*/
}
#mainPane{
    margin-left: 20%;

}

#tabcontainer{
    width: 80%;
    height: 400px;
}

#statusPane{
    clear: both;
}
