#masterLayout{

}

#menuPane{

}
#navPane{
    float: left;
    width: 20%;
}
#mainPane{

}

#tabcontainer{
    width: 80%;
    height: 400px;
}

#statusPane{
    clear: both;
}
