
body{
    /*text-align: center;*/ 
    margin:0;
    padding:0;
}

#masterLayout{
    margin:0;
    padding:0;
     border: 0;
}
#navPane{
    float:left;
    height: 40%;
    background: #cc99ff;
    width: 200px;
    margin:0;
    padding:0;
    border: 0;
    height: 800px;
}

#statusPane{
    clear: both;
    background-color: #9999ff;margin:0;
    padding:0; border: 0;
}

#mainPane{
    /*position: absolute;*/
    top: 67px;
    left: 200px;
    background-color: #ccccff;margin:0;
    padding:0;
    border: 0;

}

#menuPane{
    background-color: #9999ff;
    margin:0;
    padding:0; border: 0;
}